<div style="width: fit-content" class="">
  <article class="card m-5 product-container home-user">
    <div>
      <a routerLink="/products/{{ product.id }}">
        <img src="{{ product.url }}" alt="" class="product-image" />
      </a>
    </div>
    <div class="card-body home-user">
      <h3 class="report-title" style="text-align: center">
        <strong>{{ product.name }}</strong>
      </h3>
      <hr />

      <div class="product-details">
        <form #itemForm="ngForm" (ngSubmit)="submitToCart()">
          <div>
            <ul>
              <li>Name: {{ product.name }}</li>
              <li>Desc: {{ product.description }}</li>
              <li>Price: ${{ product.price }}</li>

              <select
                #quantity
                required
                name="select"
                class="select-input"
                (change)="updateQuantity(quantity.value)"
              >
                <option disabled>Select a Quantity</option>
                <option *ngFor="let n of counter" [ngValue]="n">
                  {{ n }}
                </option>
              </select>
            </ul>
            <button
              style="text-align: center"
              type="submit"
              class="btn btn-info"
              [disabled]="itemForm.invalid && itemForm.dirty"
            >
              Add to cart
            </button>
          </div>
        </form>
      </div>
    </div>
  </article>
</div>
