<div style="width: fit-content" class="main">
  <article class="card m-5 product-container">
    <div>
      <a routerLink="/products/{{ product.id }}">
        <img src="{{ product.url }}" alt="" class="product-image" />
      </a>
    </div>
    <div class="card-body">
      <h3 class="report-title" style="text-align: center">
        <strong>{{ product.name }}</strong>
      </h3>
      <hr />

      <div class="product-details">
        <form #itemForm="ngForm" (ngSubmit)="submitToCart()">
          <div>
            <ul>
              <li>name: {{ product.name }}</li>
              <li>desc: {{ product.description }}</li>
              <li>price: ${{ product.price }}</li>

              <select
                name="select"
                required
                class="select-input"
                [(ngModel)]="item.quantity"
              >
                <option disabled value="1">Select a Quantity</option>
                <option *ngFor="let n of counter" [ngValue]="n">
                  {{ n }}
                </option>
              </select>
            </ul>
            <button
              style="text-align: center"
              [disabled]="itemForm.invalid"
              type="submit"
              class="btn btn-info"
            >
              Add to cart
            </button>
          </div>
        </form>
        <p>
          <a routerLink="/products"> Go back to products</a>
        </p>
      </div>
    </div>
  </article>
</div>
