<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <div class="first">
          <h4>NAVIGATE</h4>
          <ul>
            <li>INSTANT Delivery</li>
            <li><a href="/">MAIN PAGE</a></li>
            <li><a href="/home">HOME</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="container">
          <div class="column">
            <div class="col-12">
              <div class="second2">
                <a href="https://www.linkedin.com/in/shabibaldawsari/">
                  <span class="icon"
                    ><fa-icon [icon]="linkedin"> </fa-icon
                  ></span>
                </a>
                <a href="https://www.youtube.com/">
                  <span class="icon"
                    ><fa-icon [icon]="youtube"> </fa-icon
                  ></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
