.nav{
  max-height: 70;
  display: flex;
  justify-content: space-between;
  background: rgba(96, 220, 217, 0.74);
  padding: 20px ;
  /* background-image: url("/assets/welcome-background.svg"); */
 
    background-size: cover;
    background-repeat: repeat;
        /* background: 
         url("https://images.unsplash.com/photo-1586074032362-2a21ee1ae5f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); */
          
         
      
}

.space{
margin: 0 30px;
}

.logo{
  font-size: 40px;
  color:rgb(70, 69, 73);
  text-decoration: none;
  font-weight: 900;

}

a{
  font-size: 25px;
  font-weight: 700;
  /* color:rgb(70, 69, 73); */
  color: whitesmoke;
  text-decoration: none;
}